<template lang="pug">
  svg(viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg")
    circle.figure-primary(cx="50" cy="50" r="35" stroke-width="5")
    circle.figure-dark.--changing-color-form(cx="55" cy="55" r="35" stroke-width="5")
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';

@Component({
  name: 'Circles',
})
export default class Circles extends Vue {}
</script>

<style lang="scss" scoped>
svg circle {
  fill: transparent;
}
.figure {
  &-dark {
    stroke: var(--fontColor);
  }
  &-primary {
    stroke: $BLUE;
  }
}
</style>
