<template lang="pug">
  svg(viewBox="0 0 110 100" xmlns="http://www.w3.org/2000/svg")
    polygon.figure-primary(points="5,85 95,85 50,5" stroke-width="5")
    polygon.figure-dark.--changing-color-form(points="15,95 105,95 60,15" stroke-width="5")
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';

@Component({
  name: 'Triangles',
})
export default class Triangles extends Vue {}
</script>

<style lang="scss" scoped>
svg polygon {
  fill: transparent;
}
.figure {
  &-dark {
    stroke: var(--fontColor);
  }
  &-primary {
    stroke: $BLUE;
  }
}
</style>
