<template lang="pug">
  .background
    Circles.shape.circle-left
    Triangles.shape.triangle-left
    Circles.shape.circle-right
    Triangles.shape.triangle-right
    Circles.shape.circle-3
    Triangles.shape.triangle-3
    Circles.shape.circle-4
    Triangles.shape.triangle-4
    Circles.shape.circle-5
    Triangles.shape.triangle-5
    Triangles.shape.triangle-6
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import Circles from '../figures/Circles.vue';
import Triangles from '../figures/Triangles.vue';

@Component({
  name: 'Background',
  components: {
    Circles,
    Triangles,
  },
})
export default class Background extends Vue {}
</script>

<style lang="scss" scoped>
.background {
  position: absolute;
  width: 100%;
  height: calc(100vh - #{$HEADER_HEIGHT});
  top: $HEADER_HEIGHT;
  z-index: -1;

  > * {
    position: absolute;
  }
  .shape {
    opacity: 0.5;
  }
  .circle-left {
    bottom: 30%;
    left: 37%;
    width: 17%;
  }
  .triangle-left {
    bottom: 15%;
    left: 1%;
    width: 13%;
    transform: rotate(-10deg);
  }

  .circle-right {
    bottom: 10%;
    right: 2%;
    width: 12%;
    transform: rotate(160deg);
  }
  .triangle-right {
    top: -3%;
    right: -3%;
    width: 18%;
  }

  .circle-3 {
    top: 100%;
    right: 60%;
    width: 18%;
  }

  .triangle-3 {
    top: 90%;
    right: 30%;
    width: 10%;
  }

  .circle-4 {
    top: 170%;
    right: 40%;
    width: 23%;
  }

  .triangle-4 {
    top: 130%;
    right: 10%;
    width: 10%;
    transform: rotate(30deg);
  }
  .circle-5 {
    top: 200%;
    left: -18%;
    width: 23%;
  }

  .triangle-5 {
    top: 265%;
    left: 3%;
    width: 10%;
  }

  .triangle-6 {
    top: 235%;
    left: 30%;
    width: 15%;
    transform: rotate(45deg);
  }
}
</style>
