<template lang="pug">
  #contact.contact
    .contact-me.--changing-color(:class="{'contact-me--sent': isMailSent || mailFinishSend}")
      h2.--changing-color Contact Me
      .contact-me__form-item.contact-me__name
        p.contact-me__error(v-if='isError(name)') You must enter a Name
        input#name.contact-me__input.--changing-color(:class="{'contact-me__input--error': isError(name)}" name='name' v-model='name' type='text' required='')
        label.--changing-color(for='name') Full name
      .contact-me__form-item.contact-me__mail
        p.contact-me__error(v-if='isError(mail)') You must enter a Name
        input#mail.contact-me__input.--changing-color(:class="{'contact-me__input--error': isError(mail)}" name='mail' v-model='mail' type='email' required='')
        label.--changing-color(for='mail') Mail
      .contact-me__form-item.contact-me__message
        p.contact-me__error(v-if='isError(message)') You must enter a Name
        textarea#message.contact-me__input.--changing-color(:class="{'contact-me__input--error': isError(message)}" name='message' v-model='message' required='')
        label.--changing-color(for='message') Message
      button.contact-me__submit(@click='sendMail') Submit
    .contacts.--changing-color(:class="{'contacts--dark-mode': isDarkMode}")
      .contacts__image(:class="{'contacts__image--hover': hoverImage > 0}" :style="{'background-image': backgroundImage}" @mouseenter='enterImage' @mouseleave='leaveImage')
      .contacts__icons.--changing-color(@mouseenter='enterImage' @mouseleave='leaveImage')
        a(target="_blank" href='https://gitlab.com/Milihhard' title="Gitlab profile")
          icon.contacts__icon.--changing-color-form(name='mdiGitlab')
        a(target="_blank" href='https://github.com/Milihhard' title="Github profile")
          icon.contacts__icon.--changing-color-form(name='mdiGithub')
        a(target="_blank" href='https://www.linkedin.com/in/emilien-nicolas-5527b1159/' title="LinkedIn profile")
          icon.contacts__icon.--changing-color-form(name='mdiLinkedin')
    .loading-mail(v-if='isMailSent')
      - let index = 0;
      while index < 10
        - let delay = `animation-delay: ${('00' + index).slice(-2).split('').join('.')}s`;
        .loading-mail__item(style=delay)
        - index++;
    .mail-send(:class='{"mail-send--show": mailFinishSend}')
      svg(viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg")
        path(d="M10 50 L50 90 L90 10")
    .mail-send__text(:class='{"mail-send__text--show": mailFinishSend}') Send
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import {getModule} from 'vuex-module-decorators';
import DarkModeModule from '@/store/darkModeModule';
import Icon from '../Icon.vue';
import axios from 'axios';

@Component({
  name: 'Contact',
  components: {
    Icon,
  },
})
export default class Contact extends Vue {
  private darkModeModule = getModule(DarkModeModule);

  private name = '';
  private mail = '';
  private message = '';

  private formError = false;
  private hoverImage = 0;

  private isMailSent = false;
  private mailFinishSend = false;

  private contactUrl = 'https://enicolas.fr:3030';

  get isDarkMode(): boolean {
    return this.darkModeModule.isDarkMode;
  }

  get backgroundImage(): string {
    return `url(${process.env.BASE_URL}img/${this.isDarkMode ? 'me.png' : 'me.jpg'})`;
  }
  sendMail() {
    if (!this.name || !this.mail || !this.message) {
      this.formError = true;
    } else {
      this.formError = false;
      this.isMailSent = true;
      axios
        .post(`${this.contactUrl}/mails/send`, {
          name: this.name,
          mail: this.mail,
          message: this.message.split('\n').join('<br>'),
        })
        .then(value => {
          console.log('response', value);
          this.isMailSent = false;
          this.mailFinishSend = true;
          this.name = '';
          this.mail = '';
          this.message = '';
          setTimeout(() => {
            this.mailFinishSend = false;
          }, 3000);
        })
        .catch(err => {
          console.error(err.response ?? err.message);
          this.isMailSent = false;
          alert(
            err.response
              ? JSON.stringify(err.response.data)
              : 'CORS: You need to send it at portfolio.enicolas.fr'
          );
        });
    }
  }
  getDelay(index: number): string {
    return ('00' + index)
      .slice(-2)
      .split('')
      .join('.');
  }
  isError(value: string): boolean {
    return this.formError && !value;
  }

  enterImage() {
    this.hoverImage++;
  }
  leaveImage() {
    this.hoverImage--;
  }
}
</script>

<style lang="scss" scoped>
$IMAGE_SIZE: 40%;

.contact {
  position: relative;
  display: grid;
  width: 100%;

  .contact-me {
    position: absolute;
    top: 5%;
    left: 5%;
    background-color: var(--accent);
    border-top-left-radius: 4rem;
    border-bottom-left-radius: 4rem;
    width: calc(95% - #{$IMAGE_SIZE});
    height: 90%;
    box-shadow: $SMALL_SHADOW;
    padding: 2rem 4rem;
    display: grid;
    grid-template-rows: repeat(3, max-content) 1fr max-content;
    gap: 1rem;
    transition: left 0.5s cubic-bezier(0.47, 1.64, 0.41, 0.8),
      background-color $CHANGING_COLOR ease;

    &--sent {
      left: calc(100% - #{$IMAGE_SIZE} - 3rem);
    }

    h2 {
      font-size: 2rem;
      font-weight: 600;
      text-align: center;
    }

    &__form-item {
      display: flex;
      flex-direction: column-reverse;
    }
    label {
      color: var(--fontColor);
      font-weight: 600;
      padding-left: 1rem;
    }
    textarea {
      resize: none;
      height: 100%;
      &::-webkit-resizer {
        display: none;
      }
    }

    input,
    textarea {
      margin: 0.5rem 0;
      border: 3px solid $BLUE;
      background-color: var(--accent);
      color: var(--fontColor);
      padding: 0.7rem 1rem;
      border-radius: 2rem;
      width: 100%;
      transition: background-color $CHANGING_COLOR ease, border-color $CHANGING_COLOR ease;

      &:focus {
        border-color: var(--fontColor);
        outline: none;
      }
      &:required ~ label:after {
        content: '*';
        color: $BLUE;
        position: relative;
        top: -0.1rem;
        left: 0.3rem;
      }
      &.contact-me__input--error {
        border-color: $RED;
      }
    }
    &__submit {
      font-size: 2rem;
      font-weight: 600;
      background: $BLUE;
      color: $WHITE;
      border: none;
      padding: 0.5rem 1rem;
      border-radius: 4rem;
      cursor: pointer;
      &:focus {
        outline: none;
      }
    }

    &__error {
      color: $RED;
      padding-left: 1rem;
      font-weight: 500;
    }
  }

  .contacts {
    background-color: var(--accent);
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: $IMAGE_SIZE;
    transition: background 0.3s ease;
    overflow: hidden;
    &__image {
      width: 100%;
      height: 100%;
      background-position: right;
      background-size: cover;
      background-repeat: no-repeat;
      transition: background 0.3s ease, transform 0.3s ease;
      &--hover {
        transform: scale(1.1);
      }
    }

    &__icons {
      display: grid;
      gap: 1rem;
      position: absolute;
      padding-bottom: 2rem;
      padding-top: 1rem;
      bottom: 0;
      left: 2rem;
      background-color: #{$WHITE}7f;
    }
    &__icon {
      fill: var(--fontColor);
      width: 4rem;
    }
    &--dark-mode {
      .contacts__icons {
        background-color: #{$DARKER_GREY}7f;
      }
    }
  }
}

.loading-mail {
  position: absolute;
  z-index: -1;
  top: calc(50% - 3.5rem);
  left: calc((100% - #{$IMAGE_SIZE}) / 2 - 3.5rem);
  width: 7rem;
  height: 7rem;
  display: grid;
  place-content: center;
  background: var(--accent);
  box-shadow: $SMALL_SHADOW;
  border-radius: 50%;

  &__item {
    width: 0.5rem;
    height: 0.5rem;
    background-color: $WHITE;
    border-radius: 50%;
    transform-origin: 0 3rem;
    animation: loading 3s linear infinite;
    position: absolute;
    left: 3.5rem;
    top: 0.5rem;
  }
}

.mail-send {
  position: absolute;
  z-index: -1;
  top: calc(50% - 3.5rem);
  left: calc((100% - #{$IMAGE_SIZE}) / 2 - 3.5rem);
  border-radius: 50%;
  background-color: var(--accent);
  box-shadow: $SMALL_SHADOW;
  opacity: 0;
  transition: background-color $CHANGING_COLOR ease, opacity 0.3s ease;
  width: 7rem;
  height: 7rem;
  svg {
    position: relative;
    top: 1rem;
    left: 0.6rem;
    fill: none;
    width: 5rem;
    stroke: $BLUE;
    stroke-width: 1rem;
    stroke-dasharray: 200;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  &--show {
    animation: check 0.7s ease;
    opacity: 1;
    transition: background-color $CHANGING_COLOR ease;
  }
  &__text {
    opacity: 0;
    position: absolute;
    z-index: -2;
    background-color: var(--backColor);
    color: var(--fontColor);
    font-size: 2rem;
    font-weight: 600;
    top: calc(50% + 3.5rem);
    left: calc((100% - #{$IMAGE_SIZE}) / 2 - 3.5rem);
    width: 7rem;
    text-align: center;
    transition: color $CHANGING_COLOR ease, opacity 0.3s ease;
    &--show {
      opacity: 1;
    }
  }
}

@keyframes check {
  from {
    stroke-dashoffset: 200;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes loading {
  from {
    transform: rotate(0deg);
    background-color: var(--fontColor);
  }
  15% {
    background-color: $BLUE;
  }
  30% {
    //   transform: rotate(360deg);
    background-color: var(--fontColor);
  }
  45% {
    background-color: $BLUE;
  }
  60% {
    background-color: var(--fontColor);
    transform: rotate(720deg);
  }
  to {
    transform: rotate(720deg);
    background-color: var(--fontColor);
  }
}
</style>
