<template lang="pug">
  #experiences.experiences__section
    .tag-selection.--changing-color
      p.--changing-color Projects with this tag
      .tag-selection__behind
      Select.tag-selection__select(v-model="selectedTag" :selectInput="tagsSelect")
    .experiences.--changing-color
      .timeline.--changing-color
      .circle.professional__circle
      .empty--wide
      // Experience
      template.professional(v-for="(exp, index) in filteredExperiences")
        p.professional__date.--changing-color(:class="{'professional__date--hidden': index === indexExpanded}" :key="'date' + index")
          | {{ exp.date.short }}
        Icon.company__toggle.clickable.--changing-color(@click="toggleExpand(index)" :class="{'company__toggle--toggled': isExpanded(index)}" name="mdiChevronRight" :key="'toggle' + index" tabindex="0")
        .company__name.company__right-section.clickable.--changing-color(:key="'name' + index" @click="toggleExpand(index)" tabindex="0")
          div
          img.company__name__logo(:src="exp.logo" :alt="exp.company + ' company logo'" :class="{'company__name__logo--expand': isExpanded(index)}")
          p.company__name__text.--changing-color(:class="{'company__name__text--expand': isExpanded(index)}" :id="getId(exp.company)")
            | {{ exp.company }}
        Icon.company__address__icon.clickable(@click="toggleExpand(index)" :key="'address-icon' + index" name="mdiMapMarker")
        p.company__address__text.company__right-section.clickable(:key="'address' + index" @click="toggleExpand(index)")
          | {{ exp.address }}
        // Expander
        .empty--wide.expandable(:class="{'expandable--expand': isExpanded(index)}" :key="'empty1' + index")
        p.company__date.expandable.company__right-section(:class="{'expandable--expand': isExpanded(index)}" :key="'date-long' + index")
          | {{ exp.date.long }}
        // Status
        template(v-for="(status, indexStatus) in exp.status")
          .empty--wide.expandable(:class="{'expandable--expand': isExpanded(index)}" :key="'empty2' + index + '-' + indexStatus")
          p.company__status.expandable.company__right-section(:class="{'expandable--expand': isExpanded(index)}" :key="'status' + index + '-' + indexStatus")
            | {{ status.name }}
          // Project
          template(v-for="(project, indexProject) in status.projects")
            .company__project__start.--changing-color(:class="{'company__project__start--expand': isExpanded(index)}" :key="'project-start' + index + '-' + indexStatus + '-' + indexProject")
            .company__project__middle-container(:class="{'company__project__middle-container--expand': isExpanded(index)}" :key="'project-middle' + index + '-' + indexStatus + '-' + indexProject")
              .company__project__middle.--changing-color
              .company__project__end.--changing-color
            p.company__project.expandable.company__right-section(:class="{'expandable--expand': isExpanded(index)}" :key="'project' + index + '-' + indexStatus + '-' + indexProject")
              | {{ project.name }}
            // Tasks
            .empty--wide.expandable(v-if="project.tasks && project.tasks.length > 0" :class="{'expandable--expand': isExpanded(index)}" :key="`empty-task-${index}-${indexStatus}-${indexProject}`")
            .company__project__tasks.expandable.right-section(v-if="project.tasks && project.tasks.length > 0" :class="{'expandable--expand': isExpanded(index)}" :key="`tasks-${index}-${indexStatus}-${indexProject}`")
              p.company__project__task.expandable.right-section(v-for="(task, indexTask) in project.tasks" :class="{'expandable--expand': isExpanded(index)}" :key="`task-${index}-${indexStatus}-${indexProject}-${indexTask}`")
                span - 
                | {{ task }}
            // Tags
            .empty--wide.expandable(:class="{'expandable--expand': isExpanded(index)}" :key="`empty-tag-${index}-${indexStatus}-${indexProject}`")
            Tags.company__project__tags.expandable(:class="{'expandable--expand': isExpanded(index)}" :tags="project.tags" :key="`tags-${index}-${indexStatus}-${indexProject}`" :selectedTag="selectedTag")
        // End expander
        .circle.professional__circle(:key="'circle' + index")
        .empty--wide.expandable(:key="'empty' + index")

</template>

<script lang="ts">
import {Component, Vue, Watch} from 'vue-property-decorator';
import {getModule} from 'vuex-module-decorators';
import CvModule from '@/store/cvModule';
import {ProfessionalExp} from '../../models/cv';
import {SelectInput} from '../../models/selectInput';
import Icon from '../Icon.vue';
import Tags from './Tags.vue';
import Select from '../Select.vue';
import ColorUtil from '../../utils/color';

@Component({
  name: 'Experiences',
  components: {
    Icon,
    Tags,
    Select,
  },
})
export default class Experiences extends Vue {
  private cvModule = getModule(CvModule);

  private indexExpanded = -2;
  private selectedTag = '';

  get experiences(): ProfessionalExp[] {
    return this.cvModule.professionalExp;
  }
  get tags(): string[] {
    const tags: Set<string> = new Set();
    this.safeForEach(this.experiences, exp =>
      this.safeForEach(exp.status, status =>
        this.safeForEach(status.projects, project =>
          this.safeForEach(project.tags, tag => tags.add(tag))
        )
      )
    );
    const returnTags = [...tags];
    returnTags.sort((tag1, tag2) => tag1.localeCompare(tag2));
    return returnTags;
  }

  get tagsSelect(): SelectInput[] {
    return [
      {text: 'No tag selected', value: ''},
      ...this.tags.map(tag => ({
        text: tag,
        value: ColorUtil.formatTechno(tag),
        color: ColorUtil.getColor(tag),
      })),
    ];
  }

  get filteredExperiences(): ProfessionalExp[] {
    if (this.selectedTag === '') {
      return this.experiences;
    }
    return this.safeReduce(this.experiences, (acc, experience) => {
      const status = this.safeReduce(experience.status, (acc, status) => {
        const projects = this.safeReduce(status.projects, (acc, project) => {
          if (
            project.tags &&
            project.tags.filter(tag => ColorUtil.formatTechno(tag) === this.selectedTag)
              .length > 0
          ) {
            return [...acc, project];
          }
          return acc;
        });
        const {name} = status;
        return projects.length > 0 ? [...acc, {name, projects}] : acc;
      });
      const {company, date, logo, address} = experience;
      return status.length > 0 ? [...acc, {company, date, logo, address, status}] : acc;
    });
  }

  @Watch('filteredExperiences')
  watchFilteredExperiences(value: ProfessionalExp[], oldValue: ProfessionalExp[]) {
    if (this.indexExpanded === -2) {
      this.indexExpanded = 0;
      return;
    }
    if (value.length === 1) {
      this.indexExpanded = 0;
      return;
    }
    if (value.length !== oldValue.length) {
      this.indexExpanded = -1;
    }
  }

  safeForEach<T>(looper: T[], action: (value: T, index: number, array: T[]) => void) {
    if (looper) {
      looper.forEach(action);
    }
  }
  safeReduce<T>(
    looper: T[],
    action: (acc: T[], value: T, index: number, array: T[]) => T[]
  ): T[] {
    if (looper) {
      return looper.reduce<T[]>(action, []);
    }
    return [];
  }
  toggleExpand(id: number): void {
    if (this.indexExpanded === id) {
      this.indexExpanded = -1;
    } else {
      this.indexExpanded = id;
      setTimeout(() => {
        this.$scrollTo('#' + this.getId(this.experiences[id].company), {offset: -50});
      }, 300);
    }
  }

  isExpanded(index: number): boolean {
    return this.indexExpanded === index;
  }
  getId(companyName: string): string {
    return companyName
      .toLowerCase()
      .split(' ')
      .join('-');
  }
}
</script>

<style lang="scss" scoped>
$TIMELINE_WIDTH: 10rem;
$EXP_PADDING: 1rem;

.experiences__section {
  display: grid;
  align-items: center;
  grid-template-rows: max-content 1fr;
  .tag-selection {
    justify-self: center;
    min-width: 20rem;
    > p {
      background-color: var(--backColor);
      text-align: center;
      padding: 0.5rem 1rem;
      width: max-content;
      margin: auto;
    }
    &__behind {
      height: 4rem;
    }
    &__select {
      position: absolute;
      top: 2rem;
    }
  }
}
.experiences {
  display: grid;
  width: max-content;
  background-color: var(--accent);
  padding: $EXP_PADDING;
  padding-right: $EXP_PADDING * 2;
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
  box-shadow: 3px 3px 6px #00000029;
  grid-template-columns: $TIMELINE_WIDTH max-content 1fr;
  position: relative;
  z-index: -2;
  max-width: 80%;
  margin: 2rem 0;

  .empty {
    &--wide {
      grid-column: span 2;
    }
  }
  .clickable {
    cursor: pointer;
  }
  .professional {
    &__timeline,
    &__circle,
    &__date {
      justify-self: center;
    }
    &__date {
      background-color: var(--accent);
      align-self: center;
      font-weight: 300;
      transition: opacity 0.2s ease, background-color $CHANGING_COLOR ease,
        color $CHANGING_COLOR ease;
      grid-row: span 2;
      &--hidden {
        opacity: 0;
      }
    }
  }
  .company {
    align-self: center;
    display: grid;
    align-items: center;
    grid-template-columns: max-content 1fr;
    &__toggle {
      width: 3rem;
      transition: transform 0.3s ease, fill $CHANGING_COLOR ease;
      &--toggled {
        transform: rotate(90deg);
      }
    }
    &__name {
      align-self: center;
      display: flex;
      position: relative;
      &__logo {
        width: 2rem;
        height: 2rem;
        position: absolute;
        opacity: 0;
        transition: opacity 0.3s ease;
        top: 0.2rem;
        border-radius: 50%;
        &--expand {
          opacity: 1;
        }
      }
      &__text {
        position: relative;
        left: 0rem;
        font-size: 2rem;
        font-weight: 600;
        transition: left 0.3s ease, color $CHANGING_COLOR ease;

        &--expand {
          left: 3rem;
        }
      }
    }
    &__toggle,
    &__address__icon {
      justify-self: center;
    }
    &__address__icon {
      fill: $BLUE;
    }
    &__address__text {
      color: $BLUE;
      font-weight: 500;
      align-self: center;
    }
    &__status {
      font-size: 1.5rem;
      color: $BLUE;
      &.expandable {
        margin-top: 0rem;
        &--expand {
          margin-top: 1rem;
        }
      }
    }
    &__project {
      font-size: 1.5rem;
      font-weight: 500;

      &__tasks.expandable {
        margin-top: 0rem;
        &--expand {
          margin-top: 0.5rem;
        }
        span {
          color: $BLUE;
          font-weight: 700;
        }
      }
      &__tags.expandable {
        margin-bottom: 0rem;
        &--expand {
          margin-bottom: 0.5rem;
        }
      }

      &__start {
        align-self: center;
      }
      &__start,
      &__middle,
      &__end {
        background-color: var(--fontColor);
      }
      &__start,
      &__middle-container {
        width: 0;
        height: 0;
        transform: scaleX(0);
        transform-origin: left;
        overflow: hidden;
        &--expand {
          transform: scaleX(1);
        }
      }
      &__start {
        justify-self: right;
        transition: transform 0.1s ease, background-color $CHANGING_COLOR ease,
          color $CHANGING_COLOR ease;
        &--expand {
          width: 50%;
          height: 0.5rem;
        }
      }
      &__middle-container {
        width: calc(100% - 1rem);
        display: grid;
        align-items: center;
        grid-template-columns: 1fr max-content;
        transition: transform 0.1s ease 0.1s, background-color $CHANGING_COLOR ease,
          color $CHANGING_COLOR ease;
        &--expand {
          width: calc(100% - 1rem);
          height: 100%;
        }
      }
      &__middle {
        height: 0.5rem;
        width: 100%;
      }
      &__end {
        width: 0.5rem;
        height: 100%;
      }
    }
  }
  .expandable {
    width: 0;
    height: 0;
    transform: scaleX(0);
    transform-origin: left;
    overflow: hidden;
    transition: transform 0.1s ease 0.2s, background-color $CHANGING_COLOR ease,
      color $CHANGING_COLOR ease;
    &--expand {
      width: 100%;
      height: auto;
      transform: scaleX(1);
    }
  }
}

.timeline {
  width: 0.5rem;
  height: calc(100% - 3rem);
  background-color: var(--fontColor);
  position: absolute;
  top: calc(#{$EXP_PADDING} + 0.5rem);
  left: calc(#{$EXP_PADDING} + #{$TIMELINE_WIDTH}/ 2 - 0.25rem);
  z-index: -1;
}
.circle {
  width: 1.5rem;
  height: 1.5rem;
  background-color: $BLUE;
  border-radius: 100%;
}
</style>
