<template lang="pug">
  #information.information
    p.desc.--changing-color {{information.desc}}
    a.button-my-projects(v-scroll-to="'#projects'" href="#" title="My projects")
      span My Projects
      Icon.arrow-down(name="mdiArrowDown")
    .me
      .me__name
        h2.me__name__firstname.--changing-color Emilien
        h2.me__name__lastname.--changing-color NICOLAS
      p.me__subtitle.--changing-color {{ information.subtitle }}
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import {getModule} from 'vuex-module-decorators';
import CvModule from '@/store/cvModule';
import Icon from '../Icon.vue';

@Component({
  name: 'Information',
  components: {
    Icon,
  },
})
export default class Information extends Vue {
  private cvModule = getModule(CvModule);

  get information() {
    return this.cvModule.information;
  }
}
</script>

<style lang="scss" scoped>
.information {
  position: relative;
  display: grid;
  width: 100%;
  // height: 100%;
  grid-template-areas:
    'desc me'
    '. me'
    'button me';
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content 1fr max-content;
  place-items: center;
  padding: 8% 3%;
  .desc {
    grid-area: desc;
    font-size: 2rem;
    text-align: justify;
  }
  .button-my-projects {
    grid-area: button;
    font-size: 2rem;
    background: $BLUE;
    color: $WHITE;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    .arrow-down {
      fill: $WHITE;
    }
  }

  .me {
    grid-area: me;
    display: grid;
    justify-items: center;

    &__name {
      width: max-content;
      border-right: 0.2rem solid var(--fontColor);
      padding-right: 2rem;
      margin-bottom: 1rem;
      transition: all $CHANGING_COLOR ease;

      &__firstname {
        font-size: 3rem;
        font-weight: 500;
      }
      &__lastname {
        font-size: 4rem;
        font-weight: 600;
      }
    }
    &__subtitle {
      font-size: 2rem;
      font-weight: 400;
    }
  }
}
</style>
