<template lang="pug">
  .project-description(v-if="project")
    .project-description__overlay(@click="close")
    .project(:class="{'project--small': !images || images.length === 0}")
      .project__header
        h3.project__name {{ project.name }}
        .project__header__icons
          a(v-for="(link, index) in project.links" :key="index" :href="link.url" :title="`link to ${link.type}`" target="_blank") 
            Icon.project__header__icon(:name="getTypeLink(link)")
      .project__close(@click="close" :class="{'project__close--small': !images || images.length === 0}" tabindex="0")
        icon(name="mdiClose")
      .project__content
        p.project__desc
          | {{ project.desc }}
        Tags.project__tags(:tags="project.tags")
        .carousel(v-if="images")
          Icon.carousel__chevron(name="mdiChevronLeft" @click="decrementSelectedImage" tabindex="0")
          .carousel__img-container
            .carousel__img-list(:style="{left: `-${selectedImage}00%`}")
              img.carousel__img(v-for="(url, index) in images" :key="index" :src="url" alt="image of the project" @click="showImg(url)")
          Icon.carousel__chevron(name="mdiChevronRight" @click="incrementSelectedImage" tabindex="0")
          .carousel__pagination
            .carousel__pagination__item(v-for="(url, index) in images" :key="index" :class="{'carousel__pagination__item--selected': index === selectedImage}" @click="setSelectedImage(index)" tabindex="0")
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import {Project, ProjectLink, ProjectLinkType} from '../../models/cv';
import {getModule} from 'vuex-module-decorators';
import CvModule from '../../store/cvModule';
import Icon from '../Icon.vue';
import Tags from './Tags.vue';

@Component({
  name: 'ProjectDescription',
  components: {
    Icon,
    Tags,
  },
})
export default class ProjectDescription extends Vue {
  private cvModule = getModule(CvModule);

  private selectedImage = 0;

  get images(): string[] {
    return this.project ? this.project.images : [];
  }

  get project(): Project | null {
    return this.cvModule.selectedProject;
  }
  close(): void {
    this.cvModule.clearSelectedProject();
    this.selectedImage = 0;
  }

  incrementSelectedImage(): void {
    this.selectedImage = (this.selectedImage + 1) % this.images.length;
  }
  decrementSelectedImage(): void {
    this.selectedImage--;
    if (this.selectedImage < 0) {
      this.selectedImage = this.images.length - 1;
    }
  }

  setSelectedImage(index: number): void {
    this.selectedImage = index;
  }
  showImg(url: string) {
    window.open(url, '_blank');
  }

  getTypeLink(link: ProjectLink): string | undefined {
    return new Map<ProjectLinkType, string>([
      ['gitlab', 'mdiGitlab'],
      ['github', 'mdiGithub'],
      ['web', 'mdiWeb'],
      ['npm', 'mdiNpm'],
    ]).get(link.type);
  }
}
</script>

<style lang="scss" scoped>
.project-description {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  display: grid;
  place-items: center;

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(51, 51, 51, 0.5);
    cursor: pointer;
  }
}

.project {
  width: 75%;
  min-height: 50%;
  max-height: 90%;
  overflow: auto;
  z-index: 1;
  background-color: var(--accent);
  padding: 2rem;
  border-radius: 1rem;
  display: grid;
  grid-template-areas:
    'name       .         close'
    'content      content        content';
  grid-template-rows: repeat(3, max-content) 1fr;
  gap: 1rem;
  // overflow: hidden;
  &--small {
    width: 50%;
  }
  &__header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    h3 {
      width: max-content;
    }
    &__icon {
      fill: $BLUE;
      margin: 0 0.2rem;
      &:first-child {
        margin-left: 0.5rem;
      }
    }
  }
  &__name {
    font-size: 2rem;
    grid-area: name;
  }
  &__close {
    grid-area: close;
    cursor: pointer;
    position: fixed;
    right: 15%;
    background-color: var(--accent);
    border-radius: 50%;

    &--small {
      right: 27%;
    }
  }
  &__content {
    grid-area: content;
    overflow: auto;
    height: inherit;
  }
  &__tags {
    margin-bottom: 1rem;
  }

  .carousel {
    width: 100%;
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    align-items: center;
    &__chevron {
      width: 4rem;
      cursor: pointer;
    }
    &__img {
      width: 100%;
      cursor: pointer;
      &-container {
        overflow: hidden;
        border: 1px solid var(--fontColor);
      }
      &-list {
        display: flex;
        position: relative;
        transition: left 0.3s ease;
      }
    }
    &__pagination {
      display: flex;
      justify-content: center;
      padding: 0.5rem;
      grid-column: span 3;
      &__item {
        width: 1rem;
        height: 1rem;
        border: 1px solid $DARK_GREY;
        background-color: $WHITE;
        border-radius: 50%;
        margin: 0 0.3rem;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: lighten($BLUE, 10%);
        }
        &--selected {
          background-color: $BLUE;
        }
      }
    }
  }
}
</style>
