<template lang="pug">
  div
    #projects.projects-container
      .tag-selection.--changing-color
        p.--changing-color Projects with this tag
        .tag-selection__behind
        Select.tag-selection__select(v-model="selectedTag" :selectInput="tagsSelect")
      .projects
        .project.--changing-color(v-for="(project, index) in filteredProjects" :key="index" @click="showDescriptionProject(project)" tabindex="0")
          p.project__name {{ project.name }}
          .project__image(@mouseenter="onHoverLogo(index)" @mouseleave="onLeaveLogo(index)" :style="{'background-image': `url(${getImageUrl(index)})`}" :class="{'project__image--none': !filteredProjects[index].logo, 'project__image--easter-egg': isKonami}")
          .project__empty
          Tags(:concise="true" :tags="project.tags" :selectedTag="selectedTag")
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import {getModule} from 'vuex-module-decorators';
import CvModule from '@/store/cvModule';
import {Project} from '../../models/cv';
import Tags from './Tags.vue';
import ColorUtil from '../../utils/color';
import Select from '../Select.vue';
import {SelectInput} from '../../models/selectInput';
@Component({
  name: 'Projects',
  components: {
    Tags,
    Select,
  },
})
export default class Projects extends Vue {
  private cvModule = getModule(CvModule);

  private gifsNoLogo = [
    'https://media.tenor.co/images/0c150a0605dbd5693c5a073b2fa4a67e/tenor.gif',
    'https://media0.giphy.com/media/NS7gPxeumewkWDOIxi/source.gif',
    'https://media1.giphy.com/media/v1.Y2lkPWNhZmU1MmU5MjVhZTEyYTlhYTVjMTEzMzRjMTBkMjRjNjBkYzZmMmQwMzNiNTYzZA/COYGe9rZvfiaQ/200_d.webp',
    'https://media2.giphy.com/media/v1.Y2lkPWNhZmU1MmU5ZTkxMWQyYTY0NjdlZTcxMjc4MTE1OWIyMjRjZDNiZmU0ZTJjMmI2NA/Yiw4aLjpxldhC/200_d.webp',
    'https://media.tenor.co/images/e62b4b778e843abf420df620e5a358ef/tenor.gif',
    'https://media.tenor.co/images/995ba16a66510f16f8d0c4468c471aca/tenor.gif',
    'https://media.tenor.co/images/f275448a47b765a8913bd9129325b28b/tenor.gif',
  ];
  private hoverLogo: boolean[] = new Array(this.gifsNoLogo.length).map(() => false);
  private indexNoLogo = 0;

  private isKonami = false;

  private selectedTag = '';

  private allowedKeys: {[code: number]: string} = {
    37: 'left',
    38: 'up',
    39: 'right',
    40: 'down',
    65: 'a',
    66: 'b',
  };

  // the 'official' Konami Code sequence
  private konamiCode = [
    'up',
    'up',
    'down',
    'down',
    'left',
    'right',
    'left',
    'right',
    'b',
    'a',
  ];

  mounted() {
    // a key map of allowed keys

    // a variable to remember the 'position' the user has reached so far.
    let konamiCodePosition = 0;

    // add keydown event listener
    document.addEventListener('keydown', e => {
      // get the value of the key code from the key map
      const key = this.allowedKeys[e.keyCode];
      // get the value of the required key from the konami code
      const requiredKey = this.konamiCode[konamiCodePosition];

      // compare the key with the required key
      if (key == requiredKey) {
        // move to the next key in the konami code sequence
        konamiCodePosition++;

        // if the last key is reached, activate cheats
        if (konamiCodePosition == this.konamiCode.length) {
          this.activateCheats();
          konamiCodePosition = 0;
        }
      } else {
        konamiCodePosition = 0;
      }
    });
  }

  get projects(): Project[] {
    return this.cvModule.projects;
  }

  get filteredProjects(): Project[] {
    if (!this.selectedTag) {
      return this.projects;
    }
    return this.projects.filter(
      project =>
        project.tags.filter(tag => ColorUtil.formatTechno(tag) === this.selectedTag)
          .length > 0
    );
  }

  get tags(): string[] {
    const tags: Set<string> = new Set();
    this.safeForEach(this.projects, project =>
      this.safeForEach(project.tags, tag => tags.add(tag))
    );
    const returnTags = [...tags];
    returnTags.sort((tag1, tag2) => tag1.localeCompare(tag2));
    return returnTags;
  }

  get tagsSelect(): SelectInput[] {
    return [
      {text: 'No tag selected', value: ''},
      ...this.tags.map(tag => ({
        text: tag,
        value: ColorUtil.formatTechno(tag),
        color: ColorUtil.getColor(tag),
      })),
    ];
  }

  onHoverLogo(index: number): void {
    if (this.isKonami) {
      this.hoverLogo[index] = true;
      this.hoverLogo = [...this.hoverLogo];
    }
  }

  onLeaveLogo(index: number): void {
    if (this.isKonami) {
      this.hoverLogo[index] = false;
      if (!this.filteredProjects[index].logo) {
        this.randomGif();
      }
      this.hoverLogo = [...this.hoverLogo];
    }
  }

  showDescriptionProject(project: Project): void {
    this.cvModule.setSelectedProject(project);
  }

  randomGif() {
    this.indexNoLogo = Math.floor(Math.random() * this.gifsNoLogo.length);
  }

  getImageUrl(index: number): string {
    if (!this.filteredProjects[index].logo && !this.isKonami) {
      return '';
    }
    return this.filteredProjects[index].logo
      ? this.hoverLogo[index] && this.filteredProjects[index].gif
        ? this.filteredProjects[index].gif
        : `${process.env.BASE_URL}img/${this.filteredProjects[index].logo}`
      : this.gifsNoLogo[this.indexNoLogo];
  }
  safeForEach<T>(looper: T[], action: (value: T, index: number, array: T[]) => void) {
    if (looper) {
      looper.forEach(action);
    }
  }

  activateCheats() {
    this.isKonami = !this.isKonami;
    alert(
      this.isKonami ? 'Seems like you have found something' : 'You prefer to hide it'
    );
  }
}
</script>

<style lang="scss" scoped>
.projects-container {
  display: grid;
  .tag-selection {
    justify-self: center;
    min-width: 20rem;
    > p {
      background-color: var(--backColor);
      text-align: center;
      padding: 0.5rem 1rem;
      width: max-content;
      margin: auto;
    }
    &__behind {
      height: 4rem;
    }
    &__select {
      position: absolute;
      top: 2rem;
    }
  }
}
.projects {
  padding: 5rem 10rem 5rem 10rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.project {
  background-color: var(--accent);
  padding: 1rem;
  margin: 2rem;
  border-radius: 1rem;
  box-shadow: $SMALL_SHADOW;
  display: grid;
  justify-items: center;
  grid-template-rows: max-content max-content 1fr max-content;
  gap: 0.5rem;
  width: 16rem;
  cursor: pointer;
  &__name {
    font-size: 1.5rem;
  }

  &__image {
    width: 5rem;
    height: 5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0%;
    transition: border-radius 0.3s ease;
    &--easter-egg:hover {
      border-radius: 50%;
    }
    &--none {
      background: var(--fontColor);
      background-size: 0 0;
      border-radius: 50%;

      &:hover {
        background-size: cover;
      }
    }
  }

  &__empty {
    min-height: 5rem;
  }
}
</style>
