<template lang="pug">
  .tags
    span.tag(v-for="(tag, indexTag) in visibleTags" :key="indexTag" :style="{'background-color': getClassTag(tag)}") {{ tag }}
    span.tag(v-if="concise && hasToMuchTags()" :style="{'background-color': colorConcise}") +{{ numberOfOverflowTags }} other{{ numberOfOverflowTags > 1 ? 's' : '' }}
</template>

<script lang="ts">
import {Component, Vue, Prop} from 'vue-property-decorator';
import ColorUtil from '../../utils/color';
@Component({
  name: 'Tags',
})
export default class Tags extends Vue {
  @Prop({type: Boolean, default: false})
  readonly concise!: boolean;

  @Prop({required: true, type: Array, default: () => []})
  readonly tags!: string[];

  @Prop({type: String, default: ''})
  readonly selectedTag!: string;
  hasToMuchTags(): boolean {
    return this.tags.length > 3;
  }

  get colorConcise(): string | undefined {
    return this.tags.map(tag => ColorUtil.formatTechno(tag)).indexOf(this.selectedTag) >=
      3
      ? '#' + ColorUtil.getColor(this.selectedTag)
      : undefined;
  }

  get numberOfOverflowTags(): number {
    return this.tags.length - 3;
  }

  get visibleTags(): string[] {
    return this.concise ? this.tags.filter((tag, index) => index < 3) : this.tags;
  }

  getClassTag(tag: string): string | undefined {
    let color: string | undefined;
    if (this.selectedTag && this.selectedTag !== ColorUtil.formatTechno(tag)) {
      color = undefined;
    } else {
      color = ColorUtil.getColor(tag);
    }
    return color !== undefined ? '#' + color : 'var(--darkGrey)';
  }
}
</script>

<style lang="scss" scoped>
.tags {
  justify-self: left;
  display: flex;
  flex-wrap: wrap;

  > .tag {
    background-color: $DARK_GREY;
    border-radius: 50rem;
    padding: 0.3rem 0.5rem;
    margin: 0.3em;
    color: white;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
</style>
