@media screen and (max-width: 900px) {
  #app {
    header {
      bottom: 0;
      padding: 0;
      box-shadow: 3px -3px 6px #00000029;
      .header {
        grid-template-areas: 'nav';
        grid-template-columns: 1fr;
        .link {
          &__welcome {
            display: none;
          }
        }
        nav {
          display: flex;
          justify-content: space-evenly;
          a {
            font-size: 1rem;
            width: 33%;
            text-align: center;

            &:not(:first-child) {
              border-left: 1px solid;
            }
          }
        }
        .dark-mode {
          //   display: none;
          position: fixed;
          right: 1rem;
          top: 1rem;
          background-color: var(--fontColor);
          border-radius: 50%;
          width: 2.4rem;
          height: 2.4rem;

          &__icon {
            fill: var(--accent);

            &--shown {
              right: 0.2rem;
            }
            &--hidden {
              right: -10rem;
            }
          }
        }
      }
    }

    .behind-header {
      height: 0;
    }
    .information {
      grid-template-areas: 'me' 'desc' 'button';
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      align-items: baseline;
      justify-items: center;
      gap: 1rem;

      > * {
        position: relative;
      }
      .me {
        &__name {
          border-right: none;
          border-left: 0.2rem solid var(--fontColor);
          padding-right: 0;
          padding-left: 1rem;
          &__firstname {
            font-size: 2rem;
          }
          &__lastname {
            font-size: 3rem;
          }
        }
        &__subtitle {
          font-size: 1rem;
        }
      }
      .desc {
        font-size: 1rem;
      }
      .button-my-projects {
        font-size: 1.5rem;

        .icon {
          font-size: 1.5rem;
        }
      }
    }

    .projects {
      padding: 0;

      .project {
        grid-template-rows: repeat(3, max-content);
        margin: 1rem;
        &__empty {
          display: none;
        }
      }
    }

    .select {
      min-width: 90%;
      left: 5%;
      .title,
      .placeholder {
        min-width: 100%;
      }
      & > input {
        min-width: 100%;
      }
      & > span.placeholder {
        min-width: 100%;
      }
      label.option {
        min-width: 100%;
        input {
          &:checked ~ span.title {
            min-width: 100%;
          }
        }
      }
    }

    .project-description {
      .project {
        width: 100vw;
        height: 100vh;
        max-height: 100%;
        border-radius: 0;
        border: 5px solid $BLUE;
        &.project--small {
          width: 100vw;

          .project__content {
            height: auto;
          }
        }
        &__close,
        &__close--small {
          right: 2rem;
        }
      }
    }
    .experiences {
      grid-template-columns: 1.5rem max-content 1fr;
      max-width: 95%;
      width: 95%;
      .timeline {
        left: calc(1rem + 1.5rem / 2 - 0.25rem);
      }

      .professional {
        &__date {
          opacity: 0;
        }
      }
      .company {
        &__name {
          &__text {
            font-size: 1.5rem;
            &--expand {
              left: 2rem;
            }
          }
          &__logo {
            width: 1.5rem;
            height: 1.5rem;
          }
        }
        &__status {
          font-size: 1rem;
          font-weight: 500;
        }
        &__project {
          font-size: 1.1rem;
          font-weight: 600;
        }
      }
    }

    .contact {
      .contacts {
        display: none;
      }
      .contact-me {
        position: relative;
        width: 100%;
        top: 0;
        left: 0;
        border-radius: 0;
        padding: 1rem;
        height: 95%;
        &--sent {
          left: calc(100% - 1rem);
        }
      }

      .loading-mail,
      .mail-send,
      .mail-send__text {
        left: calc(100% / 2 - 3.5rem);
      }
    }
  }
}

@media screen and (max-width: 375px) {
  #app header .header nav a {
    width: auto;
  }
}
