<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <title><%= htmlWebpackPlugin.options.title %></title>

  <meta name="description"
    content="Welcom To my portfolio. I am a fullstack developer mainly working with javascript technologies" />
  <meta name="category" content="portfolio" />
  <meta name="langage" content="en">
  <meta property="og:url" content="https://portfolio.enicolas.fr" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Portfolio of Emilien Nicolas" />
  <meta property="og:description" content="Welcome to the portfolio of Emilien Nicolas." />
  <meta property="og:image" content="https://portfolio.enicolas.fr/img/me.jpg" />

  <meta name="twitter:card" content="summary" />

</head>

<body>
  <noscript>
    <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled.
      Please enable it to continue.</strong>
  </noscript>
  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>

</html>