<template lang="pug">
  main
    #parallax.parallax.--changing-color
      Background.background-container
      Information.content
      .delimiter.--changing-color
      Projects.content
      .delimiter.--changing-color
      Experiences.content
      .delimiter.--changing-color
      Contact.content
      Footer
    ProjectDescription
    Loading
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import {getModule} from 'vuex-module-decorators';
import CvModule from '@/store/cvModule';
import Information from '@/components/portfolio/Information.vue';
import Projects from '@/components/portfolio/Projects.vue';
import Footer from '@/components/Footer.vue';
import Background from '@/components/portfolio/Background.vue';
import ProjectDescription from '@/components/portfolio/ProjectDescription.vue';
import Experiences from '@/components/portfolio/Experiences.vue';
import Contact from '@/components/portfolio/Contact.vue';
import Loading from '@/components/Loading.vue';
@Component({
  name: 'Portfolio',
  components: {
    Information,
    Projects,
    Background,
    Footer,
    ProjectDescription,
    Experiences,
    Loading,
    Contact,
  },
})
export default class App extends Vue {
  private cvModule = getModule(CvModule);

  mounted() {
    this.getCV();
  }

  public getCV() {
    // eslint-disable-next-line
    this.cvModule.getPortfolio().catch(e => console.error(e));
  }
}
</script>

<style lang="scss" scoped>
.parallax {
  background-color: var(--backColor);
  perspective: 1px;
  height: calc(100vh - #{$HEADER_HEIGHT});
  overflow-x: hidden;
  overflow-y: auto;
}
.content {
  min-height: calc(100vh - #{$HEADER_HEIGHT});
  transform: translateZ(0);
}

.background-container {
  transform: translateZ(-1px);
  position: absolute;
  width: 200%;
  height: calc(200vh - 5rem);
  top: 5rem;
  z-index: -1;
  left: -50%;
  top: -50%;
}
.delimiter {
  width: 100%;
  height: 5rem;
  background-color: var(--fontColor);
  z-index: -200;
}
</style>
