<template lang="pug">
  footer.footer.--changing-color
    span Website of Emilien Nicolas
    .footer__made
      span Website made with:
      a(target="_blank" href="https://vuejs.org/" title="Vue.js website")
        Icon.icon.vue(name="mdiVuejs")
      a(target="_blank" href="https://pugjs.org/api/getting-started.html" title="Pug website")
        img.pug(src="https://avatars3.githubusercontent.com/u/23632388?s=280&v=4" alt="pug's icon")
      a(target="_blank" href="https://sass-lang.com/" title="Sass website")
        Icon.icon.sass(name="mdiSass")
    span.picture Picture for the darkmode by:&nbsp;
      a(href="https://www.instagram.com/jsphotointernational/" title="Instagram of JS Photography") JS Photography
    span I wonder what happen if I do the Konami code...
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import Icon from './Icon.vue';

@Component({
  name: 'Header',
  components: {
    Icon,
  },
})
export default class Header extends Vue {}
</script>

<style lang="scss" scoped>
.footer {
  width: 100%;
  background-color: var(--footerColor);
  display: grid;
  align-items: center;
  padding: 1rem;

  &__made {
    display: flex;
    align-items: center;
  }
  span {
    color: $WHITE;
  }
  .icon {
    fill: $WHITE;
  }
  .vue {
    transition: fill 0.3s ease;
    &:hover {
      fill: #4fc08d;
    }
  }
  .pug {
    width: 2rem;
    filter: grayscale(1);
    transition: filter 0.3s ease;
    &:hover {
      filter: grayscale(0);
    }
  }
  .sass {
    transition: fill 0.3s ease;
    &:hover {
      fill: #bf4080;
    }
  }

  .picture {
    margin-bottom: 0.5rem;
  }
}
</style>
