<template lang="pug">
  header
    .header
      a.link__welcome(v-scroll-to="'#information'" href="#" title="Landing page"): h1 Emilien NICOLAS
      nav
        a.link__project(v-scroll-to="'#projects'" href="#" title="Projects") Projects
        a.link__experiences(v-scroll-to="'#experiences'" href="#" title="Experiences") Experiences
        a.link__contact(v-scroll-to="'#contact'" href="#" title="Contact") Contact
      .dark-mode.--changing-color(@click="toggleDarkMode" tabindex="0")
        Icon.dark-mode__icon.--changing-color(:class="{'dark-mode__icon--shown': isDark, 'dark-mode__icon--hidden': !isDark}" name="mdiMoonWaningCrescent" )
        Icon.dark-mode__icon.--changing-color(:class="{'dark-mode__icon--shown': !isDark, 'dark-mode__icon--hidden': isDark}" name="mdiWhiteBalanceSunny")
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import Icon from './Icon.vue';
import DarkModeModule from '@/store/darkModeModule';
import {getModule} from 'vuex-module-decorators';

@Component({
  name: 'Header',
  components: {
    Icon,
  },
})
export default class Header extends Vue {
  private darkModeModule = getModule(DarkModeModule);

  mounted() {
    const darkMode = localStorage.getItem('darkMode');
    if (darkMode) {
      this.darkModeModule.setDarkMode(darkMode === 'true');
      this.updateColor();
    }
  }
  get isDark(): boolean {
    return this.darkModeModule.isDarkMode;
  }

  toggleDarkMode() {
    this.setDarkMode(!this.isDark);
    this.updateColor();
  }
  updateColor() {
    const root = document.documentElement;
    root.style.setProperty('--backColor', `var(--${this.isDark ? 'darkGrey' : 'white'})`);
    root.style.setProperty('--fontColor', `var(--${this.isDark ? 'white' : 'darkGrey'})`);
    root.style.setProperty('--accent', this.isDark ? 'var(--darkerGrey' : 'white');
    root.style.setProperty(
      '--footerColor',
      `var(--${this.isDark ? 'darkerGrey' : 'darkGrey'})`
    );
  }

  setDarkMode(isDark: boolean): void {
    this.darkModeModule.setDarkMode(isDark);
    localStorage.setItem('darkMode', '' + isDark);
  }
}
</script>

<style lang="scss" scoped>
header {
  position: fixed;
  width: 100%;
  padding: 1rem;
  background-color: $BLUE;
  height: $HEADER_HEIGHT;
  z-index: 100;
  box-shadow: $SMALL_SHADOW;
  .header {
    display: grid;
    color: $WHITE;
    height: 100%;
    grid-template-areas: 'title . nav darkmode';
    grid-template-columns: max-content 1fr max-content max-content;
    align-items: center;
    h1 {
      grid-area: title;
      color: $WHITE;
      font-weight: 500;
    }
    nav {
      grid-area: nav;

      a {
        // margin: 0 1rem;
        padding: 1rem;
        font-size: 2rem;
        font-weight: 400;
      }
    }
    .dark-mode {
      grid-area: darkmode;
      display: grid;
      place-items: center;
      cursor: pointer;
      position: relative;
      width: 2rem;
      height: 2rem;
      &__icon {
        position: absolute;
        transition: top 0.3s ease, right 0.3s ease;
        fill: $WHITE;
        &--shown {
          // top: 0rem;
          right: 0rem;
        }
        &--hidden {
          // top: -10rem;
          right: -10rem;
        }
      }
    }
  }
}
</style>
