<template lang="pug">
  svg.icon.--changing-color(@click="click" viewBox="0 0 24 24")
    path(:d="iconPath")
</template>

<script lang="ts">
import {Component, Vue, Prop, Emit} from 'vue-property-decorator';
import * as mdi from '@mdi/js';

@Component({
  name: 'Icon',
})
export default class Icon extends Vue {
  @Prop({required: true, type: String, default: 'mdiAccount'})
  readonly name!: string;
  private iconPath = '';

  @Emit('click')
  // eslint-disable-next-line @typescript-eslint/no-empty-function
  click() {}

  mounted() {
    this.iconPath = (mdi as never)[this.name];
  }
}
</script>

<style lang="scss" scoped>
.icon {
  width: 2rem;
  fill: var(--fontColor);
}
</style>
