<template lang="pug">
  .loading(v-if="isLoading")
    - let index = 0;
    while index < 10
      - let delay = `animation-delay: ${('00' + index).slice(-2).split('').join('.')}s`;
      .loading__item(style=delay)
      - index++;
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import {getModule} from 'vuex-module-decorators';
import LoadingModule from '../store/loadingModule';

@Component({
  name: 'Loading',
})
export default class Loading extends Vue {
  private loadingModule = getModule(LoadingModule);

  get isLoading() {
    return this.loadingModule.isLoading;
  }
  getDelay(index: number): string {
    return ('00' + index)
      .slice(-2)
      .split('')
      .join('.');
  }
}
</script>

<style lang="scss" scoped>
.loading {
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: grid;
  place-content: center;

  &__item {
    width: 0.5rem;
    height: 0.5rem;
    background-color: $WHITE;
    border-radius: 50%;
    transform-origin: 0 3rem;
    animation: loading 3s linear infinite;
    position: absolute;
    top: calc(50% - 1.5rem);
    left: calc(50% - 1.5rem);
  }

  @keyframes loading {
    from {
      transform: rotate(0deg);
      background-color: $WHITE;
    }
    15% {
      background-color: $BLUE;
    }
    30% {
      //   transform: rotate(360deg);
      background-color: $WHITE;
    }
    45% {
      background-color: $BLUE;
    }
    60% {
      background-color: $WHITE;
      transform: rotate(720deg);
    }
    to {
      transform: rotate(720deg);
      background-color: $WHITE;
    }
  }
}
</style>
