<template lang="pug">
  .select
    input(v-model="isOpen" type="checkbox" :value="true" name="option")
    Icon.toggle.icon-arrow-down.--changing-color-form(:style="{fill: this.selected ? 'var(--white)' : 'var(--fontColor)'}" name="mdiChevronDown")
    Icon.toggle.icon-arrow-up(name="mdiChevronUp" @click="close" tabindex="0")
    span.placeholder.--changing-color Choose...
    label.option(v-for="(select, index) in selectInput" :key="index")
      input.option__input(@click="onSelected" :value="select.value" type="radio" name="option" :checked="!isOpen && selected === select.value")
      span.title.--changing-color(:style="{'--color-tag': select.color ? `#${select.color}` : 'var(--accent)','--color-tag-font': select.color ? `var(--white)` : 'var(--fontColor)',}") {{ select.text }}
</template>

<script lang="ts">
import {Component, Vue, Prop, Emit} from 'vue-property-decorator';
import Icon from './Icon.vue';
import {SelectInput} from '../models/selectInput';
@Component({
  name: 'Select',
  components: {
    Icon,
  },
  model: {
    prop: 'selected',
    event: 'selectOption',
  },
})
export default class Select extends Vue {
  @Prop({type: String, required: true, default: ''})
  readonly selected!: string;
  @Prop({type: Array as () => SelectInput[], required: true, default: ''})
  readonly selectInput!: SelectInput[];

  isOpen = false;

  onSelected(e: {target: {value: string}}) {
    const value = e.target.value;
    this.rigthSelection(value);
  }

  rigthSelection(value: string) {
    this.isOpen = false;
    this.change(value);
    this.selectOption(value);
  }

  @Emit('selectOption')
  selectOption(value: string): string {
    return value;
  }

  @Emit('change')
  change(value: string): string {
    return value;
  }

  close() {
    console.log('close');
    this.rigthSelection(this.selected);
  }
}
</script>

<style lang="scss" scoped>
.select {
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  max-height: 70vh;
  display: block;
  min-width: 20rem;
  border-bottom: none;
  border-radius: 1rem;
  box-shadow: $SMALL_SHADOW;
  > .toggle {
    position: absolute;
    z-index: 4;
    right: 1.5rem;
    top: 1.1rem;
    pointer-events: none;
  }
  .title,
  .placeholder {
    position: relative;
    display: block;
    min-width: 20rem;
    width: 100%;
    padding: 1.5em 2em;
    background: var(--accent);
    color: var(--fontColor);
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    cursor: pointer;
  }
  & > input {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    min-width: 20rem;
    width: 100%;
    height: 100%;
    display: block;
    opacity: 0;
    cursor: pointer;
    &:checked {
      ~ .toggle.icon-arrow-down {
        display: none;
      }
      ~ .toggle.icon-arrow-up {
        display: block;
      }
      div.options label.option .title {
        display: none;
      }
    }
    &:not(:checked) {
      z-index: 4;
      ~ label.option {
        > span.title {
          display: none;
        }
      }
      ~ .toggle.icon-arrow-up {
        display: none;
      }
      ~ .toggle.icon-arrow-down {
        display: block;
      }
    }
    &:disabled {
      cursor: no-drop;
    }
  }
  & > span.placeholder {
    position: relative;
    z-index: 0;
    display: inline-block;
    min-width: 20rem;
    width: 100%;
    color: #999;
    border-top: 0px;
  }
  label.option {
    display: block;
    overflow: hidden;
    z-index: 1;
    min-width: 20rem;
    width: 100%;
    transition: all 1s ease-out;
    span.title {
      position: relative;
      z-index: 2;
      // transition: background 0.3s ease;
      &:hover {
        color: $WHITE;
        background: var(--color-tag);
        color: var(--color-tag-font);
        box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.1);
      }
    }
    input {
      display: none;
      &:checked ~ span.title {
        position: absolute;
        display: block;
        z-index: 3;
        top: 0px;
        background: var(--color-tag);
        color: var(--color-tag-font);
        border-top: 0px;
        box-shadow: none;
        min-width: 20rem;
        width: 100%;
      }
    }
  }
}
</style>
