<template lang="pug">
  #app
    Header
    #main.behind-header
    router-view
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import Header from './components/Header.vue';

@Component({
  components: {
    Header,
  },
})
export default class App extends Vue {}
</script>

<style lang="scss">
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

@import './styles/responsive';

:root {
  --white: #{$WHITE};
  --darkGrey: #{$DARK_GREY};
  --darkerGrey: #{$DARKER_GREY};

  --backColor: var(--white);
  --fontColor: var(--darkGrey);
  --accent: white;
  --footerColor: var(--darkGrey);
}

.--changing-color {
  transition: background-color $CHANGING_COLOR ease, color $CHANGING_COLOR ease;
}
.--changing-color-form {
  transition: fill $CHANGING_COLOR ease, stroke $CHANGING_COLOR ease;
}
html {
  overflow: hidden;
}
* {
  box-sizing: border-box;
  margin: 0;
}

a {
  color: $WHITE;
  text-decoration: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--fontColor);
}
.behind-header {
  height: $HEADER_HEIGHT;
}

#app {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input,
textarea {
  font-family: 'Montserrat', sans-serif;
}
::-webkit-scrollbar {
  background: transparent;
  transition: background $CHANGING_COLOR ease;
  width: 10px;

  &:hover {
    background: var(--accent);
  }
}
::-webkit-scrollbar-thumb {
  background: $BLUE;
  border-radius: 25px;
}
</style>
